@import "tailwindcss";

.app {
    display: flex;
    flex-direction: column; /* Para empilhar Header, main-layout-container e Footer */
    min-height: 100vh; /* Garante que o app-wrapper preencha a tela */
    flex-grow: 1;
}

.container {
    display: flex;
    flex-grow: 1;
}