@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root {
  /* Cores */
  --primary-color: #ffffff;
  --secondary-color: #cce3fa;
  --text-color: #808080;
  --background-color: #cce3fa;
  --white: #ffffff;
  --black: #000000;

  /* Fontes */
  --font-family-base: "Montserrat", Arial, sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.6;

  /* Bordas e sombras */
  --border-radius: 4px;
  --box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  height: 100%;
}

html {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

/* Outros estilos globais, como para <a>, <button>, etc. */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
